* {
	margin: 2px 0;
}

a {
	color: black;
	margin-left: 25px;
}

div {
	border: 1px solid black;
}

h2, h3 {
	padding-top: 20px;
}

p {
	padding: 10px 0;
}

nav {

	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	padding-right: 50px;
	flex-basis: 50px;
}

.article {
	margin: 0;
}

.camera {
	display: flex;
	height: 306px;
	background-image: url(file:///C:/cygwin64/home/Jessies/coding/codecademy/projects/my_times/resources/images/cameraman.png);
	flex-direction: column;
}

.caption {
	margin: -2px 0;
}

.cats {
	display: flex;
	height: 302px;
	background-image: url(file:///C:/cygwin64/home/Jessies/coding/codecademy/projects/my_times/resources/images/cat.png);
	flex-direction: column;
}
.column {
	display: flex;
	justify-content: space-between;
}

.earth {
	display: flex;
	height: 300px;
	background-image: url(file:///C:/cygwin64/home/Jessies/coding/codecademy/projects/my_times/resources/images/fall.png);
	flex-direction: column;
}
.header {
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 5px;
	display: flex;
	border-bottom: 1px solid black;
	align-items: center;
	align-content: flex-start;
}

.large {
	width: 630px;
	margin-right: 32px;
	margin-bottom: -2px;
	display: flex;
	flex-direction: column;
}

.logo {
	display: flex;
	width: 80%;
	color: MediumAquamarine;
	flex-grow: 1;
	padding-left: 33px;
	align-items: center;
}

.logo-title {
	margin-left: 10px;
}

.main {
	padding-top: 35px;
	padding-bottom: 0;
}

.main-title-caption {
	font-family: Georgia;
	font-weight: bold;
	font-size: 40px;
	color: white;
}

.medium {
	width: 300px;
	margin-right: 32px;
	margin-bottom: -2px;
	display: flex;
	flex-direction: column;
}

.phish {
	display: flex;
	height: 300px;
	background-image: url(file:///C:/cygwin64/home/Jessies/coding/codecademy/projects/my_times/resources/images/main.png);
	flex-direction: column;
}

.small {
	width: 240px;
	margin-right: 32px;
	margin-bottom: -2px;
	display: flex;
	flex-direction: column;
}

.title-caption {
	font-family: Georgia;
	font-weight: bold;
	font-size: 30px;
	color: white;
}




