a {
	color: black;
	margin-left: 25px;
}

nav {

	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	padding-right: 40px;
	flex-basis: 50px;
		
}
.header {
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 10px;
	display: flex;
	border-bottom: 1px solid black;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	width: 80%;
	color: MediumAquamarine;
	flex-grow: 1;
	padding-left: 30px;
	align-items: center;
}

.title {
	margin-left: 10px;
}


