* {
	margin: 2px 0;
}

a {
	color: black;
	margin-left: 25px;
}

div {
	border: 1px solid black;
}

h2, h3 {
	padding-top: 20px;
}

p {
	padding: 10px 0;
}

nav {

	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	padding-right: 50px;
	flex-basis: 50px;
}

.article {
	margin: 0;
}

.caption {
	margin: -2px 0;
}

.column {
	display: flex;
	justify-content: space-between;
}

.header {
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 5px;
	display: flex;
	border-bottom: 1px solid black;
	align-items: center;
	align-content: flex-start;
}

.large {
	width: 630px;
	margin-right: 32px;
	margin-bottom: -2px;
	display: flex;
	flex-direction: column;
}

.logo {
	display: flex;
	width: 80%;
	color: MediumAquamarine;
	flex-grow: 1;
	padding-left: 33px;
	align-items: center;
}

.logo-title {
	margin-left: 10px;
}

.main {
	padding-top: 35px;
	padding-bottom: 0;
}

.medium {
	width: 300px;
	margin-right: 32px;
	margin-bottom: -2px;
	display: flex;
	flex-direction: column;
}

.small {
	width: 240px;
	margin-right: 32px;
	margin-bottom: -2px;
	display: flex;
	flex-direction: column;
}




